#define ZMK_POINTING_DEFAULT_MOVE_VAL 800
#define ZMK_POINTING_DEFAULT_SCRL_VAL 120

#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp B  &kp B  &kp A  &kp B
&kp A  &kp B  &kp A  &kp B
            >;

            sensor-bindings = <
        &inc_dec_kp A B
        &inc_dec_kp C D
        &inc_dec_kp E F
        &inc_dec_kp G H
            >;
        };

        bt_layer {
            bindings = <
&kp A  &kp B  &kp A  &kp B
&kp A  &kp B  &kp A  &kp B
            >;

            sensor-bindings = <
        &inc_dec_kp LEFT_ARROW RIGHT_ARROW
        &inc_dec_kp UP_ARROW   DOWN_ARROW
        &inc_dec_kp LEFT_ARROW RIGHT_ARROW
        &inc_dec_kp UP_ARROW   DOWN_ARROW
            >;
        };
    };
};
